@import 'Pagepane';

.inspirePage.pagePaneContainer {
  .titleSlide .pagePaneContent {
    .section1 {
      background: $inspireColor;

      h1 {
        background: #ffffff;
        color: $inspireColor;
      }

      .sep {
        background: $inspireColor;
      }

      img {
        bottom: -63px;
      }
    }

    .section2 {
      background: #ffffff;

      p {
        color: $inspireColor;
      }

      button {}
    }
  }

  .bulletSlide {}

  .quoteSlide {}

  .dataSlide {
    background: url("../img/inspireEnd.png") center center no-repeat;
    background-size: cover;
  }

  .endSlide {
    background: url("../img/inspireEND.jpg") top center no-repeat;
    background-size: contain;

    h2 {
      font-size: 45px;
      line-height: 56px;
    }
  }

  .textSlide {
    .textSlideContent {
      font-size: 60px;
      padding-top: 120px;
      line-height: 70px;
      overflow: hidden;
      max-height: 1920px;
    }

    strong {
      font-family: SourceSansPro-Black, SourceSansPro-Regular, helvetica, arial, sans-serif;
    }
  }
}
