@import 'Pagepane';

.offerPage.pagePaneContainer {
  .titleSlide .pagePaneContent {
    .section1 {
      background: $offerColor;

      h1 {
        background: #ffffff;
        color: $offerColor;
      }

      .sep {
        background: #ffffff;
      }

      img {
        bottom: -63px;
      }

      p {
        font-size: 45px;
      }
    }

    .section2 {
      background: #ffffff;

      p {
        color: $offerColor;
      }

      button {
        background: $offerColor;
      }
    }
  }

  .bulletSlide {}

  .quoteSlide {}

  .endSlide {
    background: url("../img/offerEND.jpg") top center no-repeat;
    background-size: contain;

    h2 {
      font-size: 55px;
      line-height: 66px;
    }

    button {
      background: $purchaseColor;
    }
  }

  .textSlide {
    .textSlideContent {
      padding-top: 160px;
      strong {
        font-family: SourceSansPro-Black, helvetica, arial, sans-serif;
      }
      span {
        font-family: SourceSansPro-Black, helvetica, arial, sans-serif;
        text-decoration: underline;
      }
    }

    img.offerBottom {
      padding-top: 0;
    }
  }
}

.infoDrawer {
  .makeOffer.drawerTitle,
  .shakeOffer.drawerTitle {
    padding-top: 300px;
  }
}
