@import 'Pagepane';

.offerPage.pagePaneContainer {
  .titleSlide .pagePaneContent {
    .section1 {
      background: $offerColor;

      h1 {
        background: #ffffff;
        color: $offerColor;
      }

      .sep {
        background: #ffffff;
      }

      img {
        bottom: -63px;
      }

      p {
        font-size: 45px;
      }
    }

    .section2 {
      background: #ffffff;
      p {
        color: $offerColor;
      }
      button {
        background: $offerColor;
      }
    }
  }

  .bulletSlide {}

  .quoteSlide {}
}
