@import 'Pagepane';

.outcomePage.pagePaneContainer {
  .titleSlide .pagePaneContent {
    .section1 {
      background: $outcomeColor;

      h1 {
        background: #ffffff;
        color: $outcomeColor;
      }

      .sep {
        background: #ffffff;
      }

      img {
        bottom: -63px;
      }
    }

    .section2 {
      background: #ffffff;

      p {
        color: $outcomeColor;
      }

      button {
        background: $outcomeColor;
      }
    }
  }

  .bulletSlide {}

  .quoteSlide {}

  .todayTomorrowSlide {
    .todayTomorrowContainer {
      height: 1180px;
    }
  }

  .textSlide {
    .textSlideContent {
      font-size: 58px;
    }
  }
}
