@import 'Pagepane';

.outcomePage.pagePaneContainer {
  .titleSlide .pagePaneContent {
    .section1 {
      background: $outcomeColor;

      h1 {
        background: #ffffff;
        color: $outcomeColor;
      }

      .sep {
        background: #ffffff;
      }

      img {
        bottom: -63px;
      }

      p {
        font-size: 32px;
        padding-right: 160px;
      }
    }

    .section2 {
      background: #ffffff;

      p {
        color: $outcomeColor;
        padding-top: 100px;
        margin-bottom: 50px;
      }

      button {
        background: $outcomeColor;
      }
    }
  }

  .bulletSlide {}

  .quoteSlide {}

  .todayTomorrowSlide {
    .todayTomorrowContainer {
      height: 1180px;
    }
  }

  .textSlide {
    .textSlideContent {
      font-size: 58px;
    }
  }

  .endSlide {
    background: url("../img/outcomeEND.jpg") top center no-repeat;
    background-size: contain;

    h2 {
      font-size: 45px;
      line-height: 50px;
    }

    button {
      background: $purchaseColor;
    }
  }
}
