@import 'Pagepane';

.purchasePage.pagePaneContainer {
  .titleSlide .pagePaneContent {
    .section1 {
      background: $purchaseColor;

      h1 {
        background: #ffffff;
        color: $purchaseColor;
      }

      .sep {
        background: $purchaseColor;
      }

      img {
        bottom: -63px;
      }
    }

    .section2 {
      background: #ffffff;

      p {
        color: $purchaseColor;
        padding-top: 100px;
        margin-bottom: 50px;
      }

      button {
        background: $purchaseColor;
      }
    }
  }

  .bulletSlide {}

  .customPurchaseSlide {
    background: #f8e121;
    height: 100%;
    padding: 120px 80px;
    color: #000000;

    .customPurchaseSlideSub {
      color: #000000;
      font-size: 72px;
      line-height: 100px;
      font-family: SourceSansPro-Black, helvetica, arial, sans-serif;
    }

    h1 {
      color: #000000;
      font-size: 100px;
      line-height: 110px;
    }

    p {
      font-family: SourceSansPro-Regular, helvetica, arial, sans-serif;
      font-size: 50px;
      line-height: 66px;
    }

    .stepOrderContainer {
      padding-top: 80px;
    }

    .stepOrder {
      background: #1a9bd1;
      background: -webkit-linear-gradient(to bottom, #1a9bd1 25%, #26b4e6 50%, #2cc1f1 75%);
      background: -o-linear-gradient(to bottom, #1a9bd1 25%, #26b4e6 50%, #2cc1f1 75%);
      background: -moz-linear-gradient(to bottom, #1a9bd1 25%, #26b4e6 50%, #2cc1f1 75%);
      background: linear-gradient(to bottom, #1a9bd1 25%, #26b4e6 50%, #2cc1f1 75%);
      padding: 80px 60px;
      box-shadow: rgba(0, 0, 0, 0.5) 0 20px 60px -10px;
      font-size: 36px;
      margin-bottom: 40px;
      position: relative;

      img {
        position: absolute;
        right: 80px;
        top: 30px;
      }

      strong {
        font-family: SourceSansPro-Black, SourceSansPro-Regular, helvetica, sans-serif;
        text-decoration: underline;
      }
    }
  }

  .quoteSlide {
    .quoteText {
      margin-top: 80px;
      font-size: 50px;
      line-height: 60px;

      img {
        padding-right: 80px;
        padding-bottom: 80px;
      }

      .quoteNew {
        font-family: SourceSansPro-Regular, helvetica, arial, sans-serif;
        font-size: 68px;
        line-height: 70px;
        padding-top: 40px;
      }
    }
  }

  .todayTomorrowSlide {
    h2 {
      font-size: 60px;
      line-height: 70px;
      padding-left: 120px;
      padding-right: 120px;
      padding-bottom: 80px;
    }

    h2.ttP {
      font-size: 80px;
      line-height: 90px;
    }

    .todayTomorrowContainer {
      height: 1160px;
    }
  }

  .endSlide {
    background: url("../img/PaymentEND.jpg") top center no-repeat;
    background-size: contain;

    h2 {
      font-size: 65px;
      line-height: 75px;
    }

    button {
      background: $pretripColor;
    }
  }

  .blueSlide {
    background: url("../img/PurchaseBLUE.jpg") center center no-repeat;
    background-size: contain;
  }
}

.purchaseDrawer.ant-drawer {
  .ant-drawer-wrapper-body {
    background: #f8e121;
  }

  .infoDrawer {
    img.chartIMG {
      border-radius: 0;
      position: relative;
      border: none;
      top: auto;
      left: auto;
      padding-top: 120px;
    }

    img.closeIcon {
      border-color: #f8e121;
    }
  }

  .order,
  .payment,
  .settlement {
    font-family: SourceSansPro-Black, helvetica, arial, sans-serif;
    font-size: 100px;
    line-height: 110px;
    padding-bottom: 40px;
  }
}

.order {
  padding-top: 200px;
}

.blueDrawer.ant-drawer {
  .ant-drawer-wrapper-body {
    background: $inspireColor;
  }

  .ant-drawer-content {
    background: $inspireColor;
  }

  .infoDrawer {
    img.closeIcon {
      border-color: $inspireColor;
    }
  }

  .order,
  .payment,
  .settlement {
    font-family: SourceSansPro-Black, helvetica, arial, sans-serif;
    font-size: 100px;
    line-height: 110px;
    padding-bottom: 40px;
  }

  h2 {
    color: #ffffff;
    padding-bottom: 80px;
    font-size: 45px;
  }

  p {
    font-size: 37px;
    line-height: 45px;
  }

  strong {
    font-family: SourceSansPro-Black, helvetica, arial, sans-serif;
  }
}
