@import 'Pagepane';

.shopPage.pagePaneContainer {
  .titleSlide .pagePaneContent {
    .section1 {
      background: $shopColor;

      h1 {
        background: #ffffff;
        color: $shopColor;
      }

      .sep {
        background: $shopColor;
      }

      img {
        bottom: -63px;
      }
    }

    .section2 {
      background: #ffffff;

      p {
        color: $shopColor;
      }

      button {
        background: $shopColor;
      }
    }
  }

  .bulletSlide {}

  .quoteSlide {}

  .owl-carousel {
    .sliderContent {
      h2 {
        padding-left: 120px;
        padding-right: 120px;
      }
    }
  }

  .endSlide {
    background: url("../img/shopEND.jpg") top center no-repeat;
    background-size: contain;

    h2 {
      font-size: 48px;
      line-height: 50px;
    }

    button {
      background: $offerColor;
    }
  }

  .quoteSlide {
    .quoteText {
      padding-right: 140px;
      font-size: 50px;
      line-height: 63px;
    }
  }
}
