$screenWidth: 1080px;

.startPage {
  position: relative;
  overflow-x: hidden;

  .titleSub {
    font-weight: 700;
    font-size: 45px;
    color: #189bb0;
    text-transform: uppercase;
  }

  h1 {
    font-size: 180px;
    color: #212226;
    font-weight: 200;
    opacity: 1;
    line-height: 1;
    margin-top: 0;
  }

  .maintitle {
    font-size: 180px;
    color: #212226;
    font-weight: 900;
    opacity: 1;
    line-height: .9;
    margin: 0;
  }

  .titleArrow {
    position: absolute;
    right: 0;
    top: 50px;
  }

  .stepNumber {
    color: #D4D4D4;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 80px;
    position: absolute;
    top: 60px;
    left: 60px;
  }

  .stepTitle {
    font-weight: 400;
    color: #212226;
    font-size: 100px;
  }

  .stepHighlight {
    color: #189bb0;
    font-weight: 700;
  }

  .backgroundSample {
    background: url('/img/sample1.png') center center no-repeat;
    background-size: cover;
  }

  .startBtn {
    color: #189bb0;
    font-size: 40px;
  }
}

.slider {
  display: flex;
  flex-wrap: wrap;
  width: $screenWidth * 8;


  .slideContent {
    position: relative;
    width: 100%;
  }

  .slides {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    padding: 0 60px;
    align-items: center;

    &.slide-1 {
      width: $screenWidth;
    }

    &.slide-2 {
      width: $screenWidth * 2;
    }
  }
}
