@import 'Pagepane';

.tripPage.pagePaneContainer {
  .titleSlide .pagePaneContent {
    .section1 {
      background: $tripColor;

      h1 {
        background: #ffffff;
        color: $tripColor;
      }

      .sep {
        background: $tripColor;
      }

      img {
        left: 40px;
        bottom: -63px;
      }
    }

    .section2 {
      background: #ffffff;

      p {
        color: $tripColor;
      }

      button {
        background: $tripColor;
      }
    }
  }

  .bulletSlide {}

  .quoteSlide {}

  .textSlide {
    .textSlideContent {
      font-size: 90px;
      line-height: 100px;
    }
  }

  .todayTomorrowSlide {
    &.tts2 {
      h2 {
        font-size: 65px;
        line-height: 70px;
      }
    }

    h2 {
      padding-left: 120px;
      padding-right: 160px;
    }
  }

  .endSlide {
    background: url("../img/TripEND.jpg") top center no-repeat;
    background-size: contain;

    h2 {
      font-size: 45px;
      line-height: 55px;
    }

    button {
      background: $outcomeColor;
    }
  }
}
